/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    border: 2px solid yellow;
}
header, section {
    padding: 20px;
}

header {
    background-color: #F0F0F0;
}

p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #F0F0F0;
    padding-bottom: 40px;
}

.container {
    display: flex;
}

#tutorials, #homework, #inspiration {
    background-color: #F0F0F0;
    flex: 1;
    border: 2px solid yellow;
}